In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import Row
from pyspark.sql import SparkSession
spark= SparkSession.builder.getOrCreate()

In [12]:
training_data = spark.read.csv("D:\\spring semester - 2018\\Big Data Analytics\\HW_final\\1a_training.csv").rdd
test_data = spark.read.csv("D:\\spring semester - 2018\\Big Data Analytics\\HW_final\\1a_test.csv").rdd

In [13]:
trainingRDD = training_data.map(lambda p: Row(userId= int(p[0]), movieId= int(p[1]),rating= int(p[2])))
train = spark.createDataFrame(trainingRDD)

testingRDD = test_data.map(lambda p: Row(userId= int(p[0]), movieId= int(p[1]),rating= int(p[2])))
test = spark.createDataFrame(testingRDD)

In [62]:
als = ALS(rank = 2, maxIter=5, regParam=0.01, userCol="userId", itemCol="movieId", ratingCol="rating",coldStartStrategy="drop")

In [77]:
model = als.fit(train)

In [64]:
predictions = model.transform(test)

In [67]:
predict = predictions.toPandas()

In [68]:
predict

    movieId  rating  userId  prediction
0        12       5      18    3.298120
1         1       2       5    2.153019
2         1       6       9    4.236707
3         1       7       4   25.277845
4         1       7      10    3.925784
5        13       7      10    4.036488
6        16       5       6    6.461028
7        16       6      19   -4.458359
8        16       1       4   32.371510
9        16       1      25   18.968132
10        3       3      19    8.333131
11       20       7      22    2.613758
12       20       5      16    2.582708
13       20       7       3    4.754298
14       20       5       8    3.559392
15       20       3      10    6.557994
16       20       4      25    1.655470
17       20       4       2    1.910520
18        5       2       1    2.392835
19        5       1      13    4.380834
20        5       5      17    4.801973
21        5       6      18    4.667737
22       19       5       7    3.698040
23       19       6      11    2.758565
24       15       6       6   12.543783
25        9       3       5    4.851242
26        9       4      25    0.758478
27        9       7      14    4.341705
28       17       7      20    2.059548
29       17       6       4    5.988036
30       17       1       7    3.880618
31       17       4      24    5.347357
32       17       6      21    2.846056
33        4       3       9    5.188628
34        4       1      14    5.894945
35        8       2      14   -0.804384
36        7       6       3    4.685777
37        7       5      25    7.469786
38       10       3      12    5.218020
39       10       5       6    8.454713
40       10       7       3    6.091756
41       11       4      12    0.691828
42       11       4      22    3.291108
43       11       7      19   10.332022
44       11       7      24    6.697423
45       14       2      20    2.001767
46       14       1      25    0.293708
47        2       3      23    6.953982
48       18       3      19    6.037180
49       18       4      23    2.824718

In [69]:
predict['difference'] = predict[['rating', 'prediction']].apply(lambda x: ''.join(str(x)), axis=1)

In [70]:
predict['difference'] = predict['rating'].astype(str) +","+ predict['prediction'].astype(str)

In [72]:
predict.pivot(index = 'userId', columns = 'movieId', values = 'difference').to_csv("D:\\spring semester - 2018\\Big Data Analytics\\HW_final\\1dprediction.csv")

In [76]:
from sklearn.metrics import mean_squared_error

b = mean_squared_error(predict['prediction'],predict['rating'])

In [75]:
b

42.108735287094206